[Unit]
Description=pi-remote Server
After=network.target

[Service]
Type=simple
User=pi-remote
Group=tivo-usb
EnvironmentFile=/etc/sysconfig/pi-remote
WorkingDirectory=/opt/pi-remote
ExecStart=/opt/pi-remote/server.py
StandardOutput=syslog+console
StandardError=syslog+console
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
